//- participating.jade
//- show classes user is participating in

extends layout

block scripts
	script(type='text/javascript', src='/javascripts/participating.js')

block content
	div.row-fluid.pad
		div.span3.pad.text-center.outline#user-info
			h4 #{user}'s Information
			label I identify as:
			if (!info || !info.gender)
				div.input-append
					select#appendedInput
						option(value="Male") Male
						option(value="Female") Female
						option(value="Other") Other
						option(value="N/A") Prefer not to disclose
					a.btn.add-on#gender Ok!
			else
				a.edit-info#gender #{info.gender}
			label.pad-top My year in school is:
			if (!info || !info.year)
				div.input-append
					select#appendedInput
						option(value="First-year") First-year
						option(value="Sophomore") Sophomore
						option(value="Junior") Junior
						option(value="Senior") Senior
					a.btn.add-on#year Ok!
			else
				a.edit-info#year #{info.year}
			if (!info || !info.gender || !info.year)
				div.alert
					button(type="button", class="close", data-dismiss="alert") &times;
					p Please fill this out!
			div.pad-top
				a.margin.btn.btn-small.btn-info(data-toggle="tooltip", title data-original-title="This information is only available to researchers, not instructors. However, neither researchers nor instructors will ever see any data associated with your personally identifiable information such as name or email address.") Who Sees This?
			div.pad-top.pencil
				if message
					console.log('there seems to be a message: ',message)
					div.alert #{message}

				form.form-vertical.form-login(action="/user/pwdelta", method="post")
					fieldset
						h5 Change Password
						.control-group
							.controls
								input(type="password", style = "width: 160px", placeholder="Current Password", name="pw_old")
								input(type="password", style = "width: 160px", placeholder="Select a new password", name="pw_new_1")
								input(type="password", style = "width: 160px", placeholder="Re-enter new password", name="pw_new_2")
								input(type="hidden", name="username", value= user)
						.control-group
							.controls
								input.btn.btn-mini.btn-warning(type="submit", value="Change Password")


		div.span9.classholder
			h3 Enlisted Classes
			div.row-fluid
				if (classes.length)
					div
					for room in classes
						div.span5.paperbg.margin
							div.classtile
								console.log(room)
								h3.dull #{room.name}
								-var m1 = room.span.start.month.toString() ? parseInt(room.span.start.month) + 1 : "undefined"
								-var m2 = room.span.end.month ? parseInt(room.span.end.month) + 1 : "undefined"
								-var daze = ["Mondays","Tuesdays","Wednesdays","Thursdays","Fridays","Saturdays","Sundays"]
								-var d1 = daze[room.interval.start.day-1]
								-var d2 = daze[room.interval.end.day-1]
								p #{m1}/#{room.span.start.date}/#{room.span.start.year} - #{m2}/#{room.span.end.date}/#{room.span.end.year} 
							
								p.pagespacer
								a.btn.btn-info.marg5#class-link(href='/'+room.owner.username+'/'+room.name+'/take') Take Survey
								br
								p.dull.tiny Available from							
								p.dull #{d1} at #{room.interval.start.hour}:#{room.interval.start.minute} #{room.interval.start.time} EST
								p.dull.tiny until
								p.dull #{d2} at #{room.interval.end.hour}:#{room.interval.end.minute} #{room.interval.end.time} EST
								p
								
								
				else
					div.span3.outline.text-center
						h3 Sorry!
						img#class-img(src="error.png", title="'Now you're just a potoo I used to know'" )
						p.margin You are not on any class rosters!

			- var html = "<script>var width = $('img.about-img').width(); $('img.about-img').css({'height':width+'px'})</script>"
			| !{html}